extends layouts/main
include mixins/videoBlock

block content
  .videos
    each video in videos
      +videoBlock({
        id: video.id,
        title: video.title,
        views: video.views,
        videoFile: video.fileUrl
      })

//- 전 버전에 쓰인 비디오 홈페이지에 나타내는 법
  block content
  .videos
    each video in videos
      h1=video.title
      p=video.description

