mixin videoBlock(video = {})
  .videoBlock
    video.video__thumnail( controls=true)
    source(src="https://www.w3schools.com/html/mov_bbb.mp4", type="video/mp4")
    h4.videoBlock__title=video.title
    h6.videoBlock__views=video.views


//- 강의에서 나온 문법
  video.videoBlock__thumbnail(src=video.videoFile)